<div fxLayoutAlign="center center" fxFlexFill class="login-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">
            <span>Login Page</span>
        </mat-toolbar>
        <form fxLayoutAlign="strech" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()" >
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          
            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login</button>
          </form>
    </mat-card>
</div>